@import "tailwindcss";

@theme {
  --color-cm-blue: #0A2F6B;
  --color-cm-green: #4CAF50;
  
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
